.caculator {
    margin: auto;
    width: 250px;
    margin-top: 5px;
    border-radius: 5px;
    height: 300px;
    background-color: #ABABAB;
    box-shadow: 0px 0px 6px #030303, inset 0px -2px 1px #2E2E2E;
}

.cast {
    /* padding: 1px; */
    margin: 0 0px;
    font-size: x-large;
    background-color: white;
    display: block;
    width: 100%;
    padding-top: 11px;
    padding: -1px;
    border-radius: 5px;
    color: brown;
    /* margin-top: 1vh; */
    font-size: x-large;
    font-weight: bold;
    overflow: auto;
    font-style: italic;
}

.out {
    text-align: right;
    /* padding-top: 1px; */
    padding-right: 8px;
}

.menu {
    padding-left: 4px;
    margin-top: 3px;
}

button {
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 3px;
    color: #181818;
    display: inline-block;
    /* color: #fff; */
    font-weight: bold;
    /* box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #2E2E2E; */
    /* box-shadow: 0px 0px 6px #030303; */
    font-size: 16px;
}

button:nth-child(7) {
    margin-top: 12px;
}

button:nth-child(12) {
    margin-top: 12px;
}

button:nth-child(18) {
    margin-top: 12px;
}

body,
* {
    margin: 0;
    padding: 0;
}